.project {
    border-bottom: solid 1px #ccc;
    padding-bottom: 26px;
}
.project:last-child {
    border-bottom: none;
}

.project dt {
    max-width: 45%;
}
.project dd {
    margin-left: 50%;
}
.project h2 {
    margin-bottom: 20px;
}
.project .project-buttons {
    margin-top: 28px;
}

.projects-category .badge {
    background-color: #888;
    border-radius:5px;

    position: relative;
    top: 2px;
}

@media (max-width: 992px) {
    #projects-categories.affix {
        position: relative !important;
        width: inherit !important;
    }
}
@media (min-width: 992px) {
    #projects-categories.affix {
        top: 5px;
        width: 293px;
    }
}
@media (min-width: 1200px) {
    #projects-categories.affix {
        top: 5px;
        width: 360px;
    }
}
@media (min-width: 1400px) {
    #projects-categories.affix {
        top: 5px;
        width: 396px;
    }
}

@media (max-width: 768px) {
    .project aside.project-meta {
        padding-top: 30px;
    }
}
