body {
	margin: 0;
}


.plan {
	background: url('../img/blue_graph_paper.jpg') repeat;
	margin: 0;
}

@media (min-width: 780px) {
	.plan {
		padding-top: 60px !important;
		padding: 20px;
	}
}

header {
	border-bottom: none !important;
}
header h1 {
	font-size: 56px;
	font-weight: bold;
	letter-spacing: -1px;

	margin-bottom: 9px;
}
header p {
	font-size: 20px;
	font-weight: 300;
}
.well .page-header {
	margin-top: 0;
}

h6 {
	text-align: right;
}


p {
	color: white;
}
.well p {
	color: inherit;
}
p.first {
	margin-top: 30px;
}
p.center {
	text-align: center;
}
p.allBlock {
	font-size: 25px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
span.strike {
	text-decoration: line-through;
}

label {
	cursor: pointer;
}

.permalink {
	color: darkgrey !important;
}


#links-right-title {
	margin-bottom: 0;
	padding-bottom: 0;
}


#recaptcha_response_field {
	border: 1px solid #CCCCCC !important;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.071) !important;
}

.clear { clear: both; }