SetEnv PHP_VER 5_4

AddType application/x-opera-extension .oex

<IfModule mod_rewrite.c>
	Options -MultiViews

	RewriteEngine On
	RewriteBase /Sites/AmauryCarrade
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
 	RewriteRule ^ index.php [L]
</IfModule>