{% extends 'base.html.twig' %}

{% block maintitle %}404{% endblock %}

{% block title %}
	<h1>404 error</h1>
	<p>You appear to be lost</p>
{% endblock %}

{% block content %}
	<div class="well">
		<div class="page-header">
			<h1>This page has not been found</h1>
		</div>
		<p>
			The page you looking for has not been found. Maybe it was moved or deleted.
		</p>
		<p>
			You gan go to <a href="javascript:history.go(-1);">the last visited page (if any)</a>, or to <a href="{{ path('index') }}">home</a>.
		</p>
		<div class="clear"></div>
	</div>
{% endblock %}