{% extends 'base.html.twig' %}

{% block page_title %}À propos{% endblock %}
{% block content_title %}À propos de ce site{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <p>
            Ce site est édité par Amaury Carrade.<br />
            Le contenu, sauf mention contraire, est publié sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">Creative Commons BY-SA 4.0</a>. Le <a href="https://github.com/AmauryCarrade/Website">code source</a> du site est publié sous licence <a href="https://www.cecill.info/licences/Licence_CeCILL-B_V1-fr.txt">CeCILL-B</a>.
        </p>

        <p>
            Le site est hébergé par la société <a href="https://ovh.com">OVH</a>, dont le siège social est situé 2 rue Kellermann, 59100 Roubaix, France.
        </p>

        <p>
            Vous pouvez contacter l'auteur de ce site sur <a href="{{ path('contact') }}">la page dédiée</a>.
        </p>

        <hr />

        <p>
            L'image de fond du site provient d'<a href="http://hubblesite.org/newscenter/archive/releases/2007/16/image/a/">HubbleSite</a> ; il s'agit d'un extrait d'une large vue panoramique du centre de la nébuleuse de la Carène (voir le lien précédent pour plus de détails).<br />
            &copy; <em><a href="http://www.nasa.gov/">NASA</a>, <a href="http://www.spacetelescope.org/">ESA</a>, N. Smith (University of California, Berkeley), and The <a href="http://heritage.stsci.edu/">Hubble Heritage</a> Team (<a href="http://www.stsci.edu/">STScI</a>/<a href="http://www.aura-astronomy.org/">AURA</a>).</em>
        </p>
        <p>
            Les images de fond de la page de recherche de thé proviennent du site <a href="https://pixabay.com">Pixabay</a> et sont dans le domaine public (Creative Commons Zero).
            Photos par <a href="https://pixabay.com/fr/tee-infusion-de-fruits-granules-1022443/">congerdesign</a> et <a href="https://pixabay.com/fr/tee-ouvert-bo%C3%AEte-%C3%A0-th%C3%A9-couvercle-1925193/">NeuPaddy</a>.
        </p>

        <p>
            L'icône «&nbsp;Utilisez Firefox&nbsp;» en bas de chaque page provient du site <a href="https://www.mozilla.org/en-US/contribute/friends/"><em>Firefox Friends</em></a>, et est publiée sous licence <a href="https://www.mozilla.org/en-US/foundation/licensing/website-content/">Creative Commons BY-SA 3.0 Unported</a>.
        </p>
    </div>
</div>
{% endblock %}
